@model List<NotificationDetailDto>

<h2>Notifications</h2>
<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-action" id="createModal" asp-action="Create">
	<i class="bi bi-plus"></i> Create
</a>

@await Html.PartialAsync("_Modal", new BootstrapModel {
    Id = "modal-action",
    AreaLabeledId = "modal-action-label",
    Size = ModalSize.Medium
})

<table class="table table-hover">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(x=>x[0].Id)</th>
			<th>@Html.DisplayNameFor(x=>x[0].UserId)</th>
			<th>@Html.DisplayNameFor(x=>x[0].Title)</th>
			<th>@Html.DisplayNameFor(x=>x[0].Description)</th>
			<th>@Html.DisplayNameFor(x=>x[0].CreatedAt)</th>
			<th>@Html.DisplayNameFor(x=>x[0].IsRead)</th>

			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var notification in Model)
		{

			var isNotificationReaded = notification.IsRead;


			<tr>
				<td>@notification.Id</td>
				<td>@notification.UserId</td>
				<td>@notification.Title</td>
				<td>@notification.Description</td>
				<td>@notification.CreatedAt</td>
				<td>
					@if (isNotificationReaded == true)
					{
						<input class="form-check-input" type="checkbox" checked disabled>

					}
					else
					{
						<input class="form-check-input" type="checkbox" disabled>

					}

				</td>
				<td>
					<a id="detailModal" asp-action="Detail" asp-route-id="@notification.Id" data-bs-toggle="modal" data-bs-target="#modal-action" class="btn btn-warning">
						<i class="bi bi-search">Detail</i>
					</a>
					<a id="editModal" asp-action="Edit" asp-route-id="@notification.Id" data-bs-toggle="modal" data-bs-target="#modal-action" class="btn btn-info">
						<i class="bi bi-pencil">Edit</i>
					</a>
					<a id="deleteModal" asp-action="Delete" asp-route-id="@notification.Id" data-bs-toggle="modal" data-bs-target="#modal-action" class="btn btn-danger">
						<i class="bi bi-trash">Delete</i>
					</a>
					@if (isNotificationReaded == true)
					{
						<a id="deleteModal" asp-action="MarkAsRead" asp-route-id="@notification.Id" class="btn btn-dark">
							<i class="bi bi-check-all"></i>
						</a>
					}
					else
					{
						<a id="deleteModal" asp-action="MarkAsRead" asp-route-id="@notification.Id" class="btn btn-light">
							<i class="bi bi-check"></i>
						</a>
					}


				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	<script src="~/lib/toastr.js/toastr.min.js"></script>
	<link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
}